body{
	background-color: #E6ECF2;
}

h1{
	color: black;
	
}

div.div01{
    margin-top: 1%;  
}
div.all{
	background-color: #D5DCF2;
} 

p{
	font-size: 15pt;
} 

p.pri{
	color: black;
} 
h2{
	padding-left: 100px;
}